<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
  </head>
   <body>
      <table class="bigtable" align="center" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td valign="top" colspan="7">
               <table border="0" cellpadding="0" cellspacing="0" width="100%" >
                     <td >
                      <img src="/images/brandnew.jpg" border="0" width="174" height="94">
                     </td>
                     <td>
                      <img height="94" border="0" width="534" src="/images/honors_brand.jpg" align="left">
                     </td>
    <td class="search">
    <table border="0"  width="267" cellpadding="0" cellspacing="3" align="right"> &nbsp &nbsp &nbsp
       <tr>
          <td valign="middle" width="53%" align="left"><input name="searchterms" size="22" type="text" value="" alt="search terms" id="searchterms"></td>
            <td valign="middle" width="10%" align="left"><input name="image" type="image" value="search" align="middle"></td>
        </tr>
    </table>
  </td>
</table>
</tr>
<tr height="20px">
  <td><strong>UID</strong></td>
  <td><strong>Student Name</strong></td>
  <td><strong>Contract Id</strong></td>
  <td><strong>Honor Course</strong></td>
  <td><strong>Professor Email</strong></td>
  <td><strong>Year</strong></td>
  <td><strong>Grade</strong></td>
</tr>
  <% @students.each do|student| %>
  <% if student.status=="pass" %>
  <% @honors.each do |honor| %>
  <% if honor.uid==student.UID %>
 <tr height="20px">
  <td><%= link_to student.UID, student_path(student) %></td>
  <td><%=(student.firstName+" "+student.lastName)%></td>
  <td><%= honor.contract_id%></td>
  <td><%= honor.course_id%></td>
  <td><%= honor.prof_email%></td>
  <td><%= honor.year%></td>
  <td><%= honor.grade%></td>
 </tr>
  <%end%>
  <%end%>
  <%end%>
  <%end%>

  <tr height="80px"><td><%= link_to "Export to Excel", student_List_path(format: "csv")%> </td></tr>

</table>
             
