<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<% provide(:title, 'Acitve Contracts') %>
</head>
   <body>
      <table class="bigtable" align="center" border="0" cellpadding="0" cellspacing="0" >
        <tr>
            <td valign="top">
               <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                     <td colspan="3">
                      <img src="/images/brandnew.jpg" border="0" width="174" height="94">
                     </td>
                     <td colspan="3">
                      <img height="94" border="0" width="534" src="/images/honors_brand.jpg" align="left">
                     </td>
                      <td class="name">
                     <p><b>Logged in as: </b><i><%= @user.email %>  </i><b>Role: </b> <i><%= @user.role %>  </i></p>
                     <p><%= link_to "Home", homePage_path %>&nbsp;&nbsp;&nbsp;<%= link_to "Log out", logout_path, method: "delete" %></p>

                     </td>
                </tr>
              </table>
           </td>
          </tr> 
          <tr><td>Enter UID of Student to search specific student</td></tr>
         <tr>
            <td height="40px" >             
               <%= form_tag search_student_path, method:  'get' do %>
               <%= text_field_tag :search, params[:search] %>
               <%= submit_tag "Search", :name => nil %> 
               <!%= link_to_function "Clear", "$('search_field').clear()" %>
               <% end %>
            </td>

         </tr>
<tr>
  <td >
<table width="100%" border="1" cellpadding="1" cellspacing="1">
<tr height="20px">
  <td bgcolor="lightgreen"><strong>UUID</strong></td>
  <td bgcolor="lightgreen"><strong>Contract id</strong></td>
  <td bgcolor="lightgreen"><strong>Name</strong></td>
  <td bgcolor="lightgreen"><strong>Email</strong></td>
  <td bgcolor="lightgreen"><strong>Phone Number</strong></td>
  <td bgcolor="lightgreen"><strong>Course Id</strong></td>
  <td bgcolor="lightgreen"><strong>Semester</strong></td>
  <td bgcolor="lightgreen"><strong>Year</strong></td>
  <td bgcolor="lightgreen"><strong>Professor Email</strong></td>
</tr>
  
  <% @students.each do|student| %>
  <% if student.status!="fail" %>
   <% @honors.each do |honor| %>
    <% if honor.uid==student.UID %>
  <tr height="20px">
  <td><%= link_to student.UID, student_path(student) %></td>
   <td><%= honor.contract_id%></td>
  <td><%=(student.firstName+" "+student.lastName)%></td>
  <td><%= student.email %> </td>
  <td><%= student.phoneNumber%></td>
  <td><%= honor.course_id%></td>
  <td><%= honor.semester%></td>
  <td><%= honor.year%></td>
  <td><%= honor.prof_email%></td>
 </tr>
  <%end%>
  <%end%>
  <%end%>
  <%end%>
  </table>
</td>
</tr>
  <tr height="80px"><td><%= link_to "Export to Excel", student_List_path(format: "csv")%> </td></tr>

<!--<tr align="center"><td>
</td></tr>-->
</table>
             
