
 

<h2>Review</h2>
 <ul>
    <li>course id: <%= @honor.course_id %></li>
    <li>contract_id: <%= @honor.contract_id %></li>
 <li>uid <%= @honor.uid %></li>
  <li>semester  <%= @honor.semester %></li>
    <li>year  <%= @honor.year %></li>
  <li>prof_email <%= @honor.prof_email %></li>
    <li>grade    <%= @honor.grade %></li>
    <li>dates    <%= @honor.dates %></li>
