<h1>Contract</h1>
<ul>
	<li>Contract ID: <%=@contract.contract_identity%></li>
	<li>Email: <%=@contract.email%></li>
	<li>Name: <%=@contract.contractor_name%></li>
	<li>UUID: <%=@contract.uuid%></li>
	<li>Phone: <%=@contract.contractor_phone%></li>
	<li>Course: <%=@contract.course%></li>
	<li>Section: <%=@contract.section%></li>
	<li>Credit Hours: <%=@contract.credit_hours%></li>
	<li>Semester: <%=@contract.semester%></li>
	<li>Year: <%=@contract.year%></li>
	<li>Instructor: <%=@contract.instructor%></li>
	<li>Instructor Email: <%=@contract.instructor_email%></li>

</ul>

<p>
	<%= link_to "Show All Contracts", contracts_path %>
</p>